// Primary Colors
@uuYellow:      rgb(255,205,0);
@uuRed:         rgb(192,10,53);
@uuBlack:       rgb(0,0,0);
@uuWhite:       rgb(255,255,255);

// Secondary Colors
@uuCream:       rgb(250,230,171);
@uuOrange:      rgb(243,150,94);
@uuBurgundy:    rgb(170,21,85);
@uuBrown:       rgb(110,59,35);
@uuGreen:       rgb(36,167,147);
@uuBlue:        rgb(0,36,128);
@uuPurple:      rgb(91,33,130);

//
@titleColor:    @uuRed;
@headColor:     @uuGreen;
@textColor:     @uuBlack;
@linkColor:     @uuBlue;
@bgColor:       @uuWhite;

@bodyFont:      Ubuntu, Verdana, Helvetica, Arial, sans-serif;
@headFont:      Ubuntu, @bodyFont;
@codeFont:      Menlo, "Lucida Console", Courier, monospace;
@headWeight:    600;

@hMargin:       100px;
@vMargin:       10px;
@footHeight:    100px;
