// Primary Colors
@obsidianBlack:   rgb(12,0,10);
@white:           rgb(255,255,255);
@obsidianGreen:   rgb(5,22,3);
@obsidianGray:    rgb(54,54,54);
@linkBlue:        rgb(0, 94, 184);

//
@headingColor:  @obsidianBlack;
@textColor:     @obsidianGray;
@linkColor:     @linkBlue;
@pageColor:     @white;
@frameColor:    @obsidianGray;


@bodyFont:      "Crimson Pro", "Libertinus Serif", "Linux Libertine O", Georgia, serif;
@headFont:      @bodyFont;
@headWeight:    600;

@hMargin:       100px;
@vMargin:       10px;
@measure:       72ch;
