@import "constants";

@footFontSize: 12px;
@footTextColor: @navText;
@footLinkColor: @white;
@footPad: 10px;
@madebyFontSize: 10px;

#footer {
  background:     @obsidianBlack;
  color:          @footTextColor;
  font-size:      @footFontSize;
  padding-right:  @hMargin;
  padding-left:   @hMargin;
  position:       fixed;
  z-index:        2;
  bottom:         0;
  width:          100%;
  display:        inline-block;
}

#footer a {
  color: @white;
}

.foot-block {
  float: left;
  padding-top: @footPad;
  padding-bottom: @footPad;
}

.foot-list {
  padding: 0;
  margin-top: 0;
}

.foot-item {
  display: inline-flex;
}

.foot-head {
  font-weight: 600;
  margin-bottom: .25em;
}

.foot-list {
  padding: 0;
  margin-top: 0;
}

.foot-item {
  display: block;
}

.foot-contact {
  margin-top: 1em;
}

.foot-madeby {
  position: absolute;
  bottom: 0;
  text-align: right;
  right: @vMargin;
  padding-top: @footPad;
  padding-bottom: @footPad;
  font-size: @madebyFontSize;
}

.foot-about {
  display: inline-block;
  width: 20%;
  margin-right: 10px;
}

.foot-map {
  padding-left: @footPad;
  padding-right: @footPad;
}
