@import "constants";

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: clamp(1.0625rem, calc(0.725rem + 0.375vw), 1.625rem);
}

#page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  padding-right: @hMargin;
  padding-left: @hMargin;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  max-width: @measure;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-color: @pageColor;
}

@media (max-width: 1000px) {
  #content, #header {
    max-width: none;
    padding-left: (@hMargin / 4);
    padding-right: (@hMargin / 4);
  }
}



body {
  background-color: @frameColor;
  color: @textColor;
  font-family: @bodyFont;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

h1, h2, h3 {
  color: @headingColor;
  font-family: @headFont;
  font-weight: @headWeight;
  margin-top: 1.4rem;
  margin-bottom: 0.15rem;
}

h1 {
  font-size: 120%;
  margin-top: 2.2rem;
  margin-bottom: 0.4rem;
}

h2 { font-size: 120%; }
h3 { font-size: 105%; }

h1 + *, h2 + *, h3 + * {
  margin-top: 0;
}

#content > :first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: @linkColor;
}

#content a:hover {
  text-decoration: underline;
}

.talk-meta {
  color: @headingColor;
  font-family: @headFont;
  font-weight: @headWeight;
  font-size: 110%;
  margin-bottom: 0.15rem;
}

.talk-meta + * {
  margin-top: 0;
}

.talktitle {
  font-weight: bold;
}

.venue {
  font-style: italic;
}

p {
  margin-top: (@vMargin / 4);
  text-align: justify;
}
