// .paper-item {
//   display: inline-flex;
// }

.collapsible {
  color:            @linkColor;
  background-color: @bgColor;
  cursor:           pointer;
  padding:          0px;
  width:            auto;
  border:           none;
  text-align:       auto;
  font-size:        100%;
}

.abstract {
  margin-top:       @vMargin;
  margin-bottom:    @vMargin;
  margin-left:      @hMargin/2;
  margin-right:     @hMargin/2;
  padding-right:    @hMargin/2;
  padding-left:     @hMargin/2;
  display:          none;
  overflow:         auto;
  color:            @obsidianGray;
  background-color: @white;
  font-style:       italic;
}

.paper-list {
  padding:          20px;
  margin-top:       @vMargin;
  list-style-type:  none;
}

.paper-item:not(:last-child) {
  margin-bottom:    @vMargin;
}

// .paper-item:last-child {
//   margin-bottom:    150px;
// }

.papertitle {
  font-weight:      @headFont;
  color:            @obsidianGreen;
  font-size:        110%;
}

.venue {
  font-style:       italic;
}

.url {
  color:            @linkColor;
}
