<ul class="nav-list">
  <li class="nav-elem nav-left nav-head">
    <a href="/">Home</a>
  </li>
  <li class="nav-elem nav-left $if(on-publications)$ nav-active $endif$">
    <a href="/publications.html">Publications</a>
  </li>
  <li class="nav-elem nav-left $if(on-publications)$ nav-active $endif$">
    <a href="/talks.html">Talks</a>
  </li>
  <li class="nav-elem nav-left">
    <a href="/cv.html">CV</a>
  </li>
  <li class="nav-elem nav-left">
    <a href="https://github.com/konstantinosKokos" target="_blank">Software</a>
  </li>
</ul>
