<ol class="paper-list">
    $for(pubs)$
        <li class="paper-item">
            <span class="papertitle">$title$</span>. 
            <span class="author">$authors$</span>.
            $if(venue)$
                <span class="venue">$venue$</span>.
            $endif$
            <span class="date">$date$</span>.<br>
            [ <button type="button" class="collapsible">abstract</button> ]
            $if(link)$
                [ <a href="$link$" target="_blank">paper</a> ]
            $endif$
            $if(code)$
                [ <a href="$code$" target="_blank">code</a> ]
            $endif$
            <div class="abstract"><p><div class="abstract_inner>"$body$</div></div>
        </li>
    $endfor$
</ol>
